extends layout

block pageName
  | Class list

block content
  ul
    each cl, i in classes
      if cl
        li
          a(href="/class/#{cl.hashCodeSync()}")= cl.toStringSync()
    li
      a(href="/newClass") new