extends layout

block content
  h2 Class list
  ul
    each cl, i in classes
      if cl
        li
          a(href="/class/#{cl.hashCodeSync()}")= cl.toStringSync()
    li
      a(href="/newClass") create