doctype 5
html
  head
    title
      block pageName
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 School Organizer
    ul.nav
      li <a href="/">Home</a>
      li <a href="/students">Students</a>
      li <a href="/classes">Classes</a>
    hr
    h2
      block pageName
    block content