body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 3px;
}

th {
  background-color: #F0F0F0;
}

ul.nav>li {
  display: inline-block;
  padding: 3px;
  background-color: #F0F0F0;
}
